<html>
    <head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<footer>
    <div class="container1">
        <div class="sec about">
            <h2>About us</h2>
            <p>Welcome to Bhagavati Farsan Shop! <br>

                At Bhagavati Farsan, we believe in bringing the rich flavors and traditions of Indian snacking to your table. Founded with a passion for authentic tastes and high-quality ingredients, our shop specializes in a wide variety of farsan crispy, savory snacks that are perfect for any occasion.</p>
            <ul class="socila-icon">
                <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                <li><a href="#"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
            </ul>
        </div>
        <div class="sec usefullinks">
            <h2>Useful Links</h2>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Privecy & Policy</a></li>
                <li><a href="#">Tearm & Condition</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="sec shop1">
            <h2>Shop</h2>
            <ul>
                <li><a href="#">Namkeen</a></li>
                <li><a href="#">Bakery</a></li>
                <li><a href="#">Sweet</a></li>
                <li><a href="#">Roasted</a></li>
                <li><a href="#">Snacks</a></li>
            </ul>
        </div>
        <div class="sec contact">
            <h2>Contact Info</h2>
            <ul class="info">
               <li>
                <span><i class='bx bxs-map'></i></span>
                <span>GF 11 Vasna-Bhayali Road</br>
                    Opp. Samanvay Hospital</br>
                    Vadodara</span>
               </li>
               <li>
                <span><i class='bx bxs-phone'></i></span>
                <p><a href="tel:+91 635 150 5351">+91 635 150 5351</a></p>
               </li>
               <li>
                <span><i class='bx bxs-envelope' ></i></span>
                <p><a href="mailto:bhagavatifarsan@gmail.com">bhagavatifarsan@gmail.com</a></p>
               </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>