<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_style.css') }}">
    <title>Bhagavati Farsan Admin Panel - Unread Messages Page</title>
</head>
<body>
    {% include 'admin_header.html' %}

    <div class="main">
        <div class="banner">
            <h1>Unread Messages</h1>
        </div>
        <div class="title2">
            <a href="{{ url_for('dashboard') }}">Dashboard</a><span> / Unread Messages</span>
        </div>

        <section class="accounts">
            <h1 class="heading">Unread Messages</h1>
            <div class="box-container">

                {% if messages %}
                    {% for message in messages %}
                        <div class="box">
                            <h3 class="name">{{ message.name }}</h3>
                            <h4>{{ message.email }}</h4>
                            <h4>{{ message.number }}</h4>
                            <p>{{ message.message }}</p>

                            <form action="" method="POST" class="flex-btn">
                                <input type="hidden" name="delete_id" value="{{ message.id }}">
                                <button type="submit" name="delete" class="btn" onclick="return confirm('Delete this message?');">Delete Message</button>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="empty">
                        <p>No messages sent yet.</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% include 'alert.html' %}
</body>
</html>
